@media (min-width: 768px) and (max-width: 991px) {

    /*테블릿 세로*/
    .header {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 80px;
        padding-top: 10px;
        border-bottom: 1px dotted #ccc;
        color: #222;
    }

    .header .title {
        text-align: center;
        margin: auto;
    }

    .inner {
        width: 100%;
    }

    .trip_place {
        width: 100%;
        display: flex;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        /*flex-direction: row;*/
        /*flex-wrap: wrap;*/
    }

    .item {
        width: 100%;
        height: 300px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        border-radius: 25px;
    }

    .item .place_img {
        width: 33rem;
        height: 300px;
        position: relative;
        border-radius: 25px;
        overflow: hidden;
    }

    .item .place_img img {
        width: 33rem;
        position: absolute;
        top: -270px;
        display: block;
    }

    .mbti_detail {
        width: 50em;
        margin-left: 50px;

    }

    .mbti_detail > h4:after {
        content: "";
        height: 1px;
        width: 25px;
        background-color: #ccc;
        display: block;
        margin-top: 10px;
    }

    .mbti_detail .highlight {
        background: linear-gradient(to top, #dceac8 50%, transparent 50%);

    }

    .mbti_detail > p::after {
        content: "";
        width: 150px;
        height: 1px;
        display: block;
        background-color: #ccc;
        margin-top: 30px;
    }

    .comment_wrapper {
        margin-top: 50px;
    }

    .comment_wrapper .comment_search {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .comment_wrapper .comment_search input {
        width: 100%;
        height: inherit;
        padding: 7px 15px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 15px;
        outline: none;
        background-color: red;
        color: #777;
        font-size: 12px;
        text-align: center;
    }

    .comment_wrapper .comment_search .search_icon {
        position: absolute;
        right: 30px;

    }

    .comment_wrapper .comment_search .search_icon span {

    }


    /*사이드바*/
    :root {
        --nav--width: 92px;

        /* Colores */
        --first-color: #0c5df4;
        /*--bg-color: #12192c;*/
        --bg-color: #222;
        --sub-color: #b6cefc;
        --white-color: #fff;

        /* Fuente y tipografia */
        --body-font: 'Poppins', sans-serif;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;

        /* z index */
        --z-fixed: 100;
    }

    /* BASE */
    *, ::before, ::after {
        box-sizing: border-box;
    }

    .body-pd {
        position: relative;
        margin: 0;
        padding: 2rem 0 0 6.75rem;
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        transition: .5s;
    }


    /* R NAV */
    .r-navbar {
        position: fixed;
        top: 1.8rem;
        right: 1.8rem;
        width: 2.8rem;
        height: 2.7rem;
        color: var(--white-color);
        transition: .2s;
        z-index: var(--z-fixed);

    }

    /* NAV */
    .nav {
        height: 100%;
        overflow: hidden;
        background-color: var(--bg-color);
        border-radius: 5px;
    }

    .nav__brand {
        display: grid;
        grid-template-columns: max-content max-content;
        align-items: center;
        margin-bottom: 1.0rem;
    }

    .material-symbols-rounded {
        font-size: 1.25rem;
        padding: .75rem;
        cursor: pointer;
        font-variation-settings: 'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;

    }

    .nav__logo {
        color: var(--white-color);
        font-weight: 600;

    }

    .nav__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: .5rem;
    }

    .nav__link {
        width: auto;
        padding: 0.5rem 1rem;
        color: var(--white-color);
        border-radius: .5rem;
        margin-bottom: .5rem;
        transition: .3s;
        cursor: pointer;
    }

    .nav__link:hover {
        background-color: var(--first-color);
    }

    .nav_name {
        width: 50%;
    }

    .nav_name {
        font-size: var(--small-font-size);
    }

    /* Expander menu */
    .expander {
        width: calc(var(--nav--width) + 4.25rem);
        height: 100vh;;
        border-radius: 0px;
        top: 0;
        right: 0;
    }

    /* Add padding body*/
    .body-pd {
        padding: 2rem 0 0 16rem;
    }

    /* Active links menu */
    .active {
        background-color: var(--first-color);
    }
}