.hero {
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
}

.section {
    height: 500px;
}

.reveiw-box {

    padding: 3rem 1.5rem;
    display: block;
    margin: 20px auto 10px auto;
    width: 800px;
    border-radius: 20px;
}

.input.is-rounded {
    width: 650px;
    height: 50px;
}

.button.is-light {
    background-color: #005b96;
    color : white;
    position: relative;
    left: 10px;
}

.box {
    margin: 20px auto 10px auto;
    width: 750px;
    border-radius: 20px;
}

nav.level.is-mobile {
    display: flex;
    justify-content: flex-end;
}